[Unit]
Description=Policy-Enforcement-Agent

[Service]
User=root
KillMode=process
WorkingDirectory=/opt/accuknox-policy-enforcement-agent/
ExecStart=/opt/accuknox-policy-enforcement-agent/pea

[Install]
WantedBy=multi-user.target
