[Unit]
Description=Shared-Informer

[Service]
User=root
KillMode=process
WorkingDirectory=/opt/feeder/
Environment=ENABLE_VM=true KUBEARMOR_ENABLED=true KMUX_ENABLED=true
ExecStart=/opt/feeder/feeder

[Install]
WantedBy=multi-user.target
